#party-selector{
	height:60px;
}
.axis path, .axis line{
  fill: none;
  stroke: #000;
}

.rDebates line{
    stroke: red;
    fill: red;
}

.dDebates line{
    stroke: blue;
    fill: blue;
}
.button {
    cursor:pointer;
}
ul {
	background-color:#999;
}
li {
	display:inline;
	float:center;
	width:10%;
	padding:5px;
	border-radius:2px;
	border-color:#000;
}
li:hover{
	background-color:#FFF;
}
#democrats{
	background:blue;
	color:white;
	width:200px;
}
#republicans{
	background:red;
	color:white;
	width:200px;
}
#main-wrapper{
	min-width:400px;
}
#poll-title{
	float:bottom;
	min-width:400px;
}
#poll-header{
	padding-left:50;
}

.hide{
	display:none;
}
#poll-wrapper .fullscreen{
	width:100%;
}
.halfscreen{
	width:60%;
}

/* Tweeter */
#tweet-wrapper{
	width:30%;
	float:right;
	padding-right:20px;
    max-height: 70vh;
    display: block;
    z-index: 900;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}


blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/16px Helvetica, Arial, sans-serif;
  color: #000;
}
 
blockquote.twitter-tweet p {
  font: normal 14x/16px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
  padding: 1px;
}
 
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.top-words {
    display: inline-block;
}