.axis path, .axis line{
  fill: none;
  stroke: #000;
}

.rDebates line{
    stroke: red;
    fill: red;
}

.dDebates line{
    stroke: blue;
    fill: blue;
}
.button {
    cursor:pointer;
}
li {
	display:inline;
	float:left;
	padding:5px;
}
#democrats{
	background:blue;
	color:white;
	width:200px;
}
#republicans{
	background:red;
	color:white;
	width:200px;
}